@CHARSET "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #2b7;
  font-weight: bold; 
}

a:hover{
  color: #b15;
  transition: 0.1s all ease-in-out;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height:100%;
  height: 100%;
  line-height: 1.5em;
  padding: 1em;
  color: #ddd;
  background-color: #ffffff;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.5em;
  color: inherit;
  text-rendering: optimizelegibility;
}


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

button, 
input{
  font-size: 1em;
  padding: 0.5em 1em;
}



div.message{
  margin: 0.5em 0.5em;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  background-color: #eee;
  box-shadow: 0 0 1em rgba(0,0,0,0.3);
  width: 20em;
  color: #444;
}

div.message.from{
  margin: 0.3em 2em;
}

body{
  background-color: #455;
}
.main{
  display: inline-block;
  padding: 2em;
  margin-bottom: 5em;
}

#wslog{
  box-shadow: inset 0 1em 2em -1em rgba(30,50,40,0.5),
              inset 0 -1em 2em -1em rgba(30,50,40,0.5);
  height: 15em;
  width: 100%;
  line-height: 1em;
  overflow-y: auto;
  word-wrap: break-word;
}

#qrcode {
  width:128px;
  height:128px;
  margin-top:15px;
}